{%  load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <link style>
    <title>Добрый пожаловать на Китай партия принять тест</title>

    <link rel="stylesheet" href="{% static 'base.css' %}">
    <script src="{% static 'base.js' %}"></script>
</head>
<body>
<h1>Добрый пожаловать на Китай партия принять тест</h1>
<h2>Баллистическая ракета удар!!!!--->{%  for k, cum in ip.items %}
{{ k }} ==> {{  cum}}
    <br>
{%  endfor  %}<---Баллистическая ракета удар!!!!</h2>

<button data-rel="{% static 'танк.jpg' %}" id="ASong" onClick="playPause()" >
  <audio
    src="{% static 'social_credit.mp3' %}"
    autoplay
    loop

  > <a href="javascript:showImage()">show image</a></audio>
  Song
</button>

<script>
  var aud = document.getElementById("ASong").children[0];
  var isPlaying = false;
  aud.pause();

  function playPause() {
    if (isPlaying) {
      aud.pause();
    } else {
      aud.play();
    }
    isPlaying = !isPlaying;
  }

  function showImage() {
    var img = document.getElementById('танк.jpg');
    img.style.visibility = 'visible';
}

</script>
<div id="Play">Play Button</div>
</body>



</html>