{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <link style>
    <title>Добрый пожаловать</title>

    <link rel="stylesheet" href="{% static 'base.css' %}">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>

<h1>Добрый время суток! Вас приветствовать Джо старик деменция.</h1>
<h2>Что вы думать о коммунист?</h2>



<button class="btn" id="ASong" onClick="playPause(); hello(this)">
    <audio
            src="{% static 'social_credit.mp3' %}"
            autoplay
            loop

    ></audio>
    Си Цзиньпинь лох!!
</button>
<div class="option">
    <div id="wrapper">
    <div id="container">
        <h1>
            ХА-ХА ТУПОЙ БУРГЕР ПОПАЛ В ЛОВУШКУ!!!
            <br>ГРЯЗЬ ГАДОСТЬ НАЙДЕН
    <br>
    {% for k, cum in ip.items %}
    {{ cum }}
    <br>









{% endfor %}Баллистическая ракета удар!!!!</h2></div>
 </div>
</div>
<script>
    var aud = document.getElementById("ASong").children[0];
    var isPlaying = false;
    aud.pause();

    function playPause() {
        if (isPlaying) {
            aud.pause();
        } else {
            aud.play();
        }

        isPlaying = !isPlaying;
    }


</script>
<script>
    const hello = (element) => {
        element.hidden = true;
        var body = document.getElementsByTagName('body')[0];
document.body.style.backgroundImage = "url('static/-cat.jpg')"

    }
</script>



<script>
    $(".btn").click(function () {
        $(".option").toggle('show');
        $(".djo").toggle('show')
    })
</script>



</body>


</html>